@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

/* Custom variables */
@theme {

}

/* Directives */
@layer base {
}

@layer components {
  .card {
    @apply rounded-lg p-4;
  }
}

@layer utilities {
  /* Flex directions */
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
